<div xmlns:th="http://www.thymeleaf.org" th:fragment="base_head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" type="image/x-icon" data-th-href="@{/static/styles/images/logo.ico}" />
    <link rel="shortcut icon" type="image/x-icon" data-th-href="@{/static/styles/images/logo.ico}" />
    <link rel="stylesheet" type="text/css" href="http://10.4.68.45/EUI/jqgrid/css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="http://10.4.68.45/EUI/jqgrid/css/ui.jqgrid.min.css">
    <link rel="stylesheet" type="text/css" href="http://10.4.68.45/EUI/eui.unmin.css">

    <script type="text/javascript" src="http://10.4.68.45/EUI/jquery-1.8.min.js"></script>
    <script type="text/javascript" src="http://10.4.68.45/EUI/eui.unmin.js"></script>
    <script type="text/javascript" src="http://10.4.68.45/EUI/eui_zh-cn.js"></script>
    <script type="text/javascript" src="http://10.4.68.45/EUI/jqgrid/jquery.jqGrid.min.js"></script>

    <script type="text/javascript">
        var _ctxPath = "[[${#request.scheme}]]://[[${#request.serverName}]]:[[${#request.serverPort}]][[${#request.contextPath}]]";
    </script>

    <script type="application/javascript" th:inline="JavaScript">
        var __SessionUser = [[${#session.getAttribute('_SessionUser')}]] || {};
        var _FeatureMaps = [[${#request.getAttribute('_FeatureMaps')}]] || {};
        EUI.checkAuth = function (code) {
            if('GlobalAdmin' === __SessionUser['authorityPolicy']){
                return true;
            }
            return !!_FeatureMaps[code];
        };
        EUI.onReady(function () {
            $(document).bind("keypress", function (event) {
                if (8 === event.keyCode) {
                    if ("body" === event.target.tagName.toLowerCase()) {
                        return false;
                    }
                }
            });
        });
    </script>
</div>