.condetail-operate {
    width: 82px;
    height: 16px;
    line-height: 16px;
    margin: 0 auto
}

.condetail-operate > div {
    margin: 0 6px;
}

.condetail-start {
    width: 16px;
    height: 16px;
    float: left;
    cursor: pointer;
    background: url("../images/btn/flow/flow_start.png") no-repeat 0 0px;
}

.condetail-update {
    width: 15px;
    height: 15px;
    float: left;
    cursor: pointer;
    background: url("../images/operate_bg.png") no-repeat 0 -160px;
}

.condetail-delete {
    width: 15px;
    height: 15px;
    float: right;
    cursor: pointer;
    background: url("../images/operate_bg.png") no-repeat -32px -160px;
}

#content .ux-bar-right .ux-toolbar-item {
    margin-right: 0;
}

#comboBox span {
    font-weight: bold;
}

#caption .ux-field-label {
    top: 55px;
}