.btn_operate{width:60px;height:16px;line-height:16px;margin:0 auto}
.agreeBtn {
    width: 16px;
    height: 16px;
    float: left;
    cursor: pointer;
    background: url("../images/operate_bg.png") no-repeat;
    background-position: 0px 0px;
}
.nagreeBtn {
    width: 16px;
    height: 16px;
    float: right;
    cursor: pointer;
    background: url("../images/operate_bg.png") no-repeat;
    background-position: -16px 0px;
}
#content .ux-bar-right .ux-toolbar-item{
    margin-right: 0;
}