<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:include="base/base :: base_head">
    </head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>流程设计界面</title>
    <link rel="stylesheet" type="text/css"
          data-th-href="@{/static/styles/css/WorkFlowView.css}">
    <script type="text/javascript"
            data-th-src="@{/static/data/flow_node.js}"></script>
    <script type="text/javascript"
            data-th-src="@{/static/data/flow_uel_btn.js}"></script>
    <script type="text/javascript"
            data-th-src="@{/static/ext/jsPlumb/jsplumb-2.2.10.js}"></script>
    <script type="text/javascript"
            data-th-src="@{/static/scripts/design/WorkFlowView.js}"></script>
    <script type="text/javascript"
            data-th-src="@{/static/scripts/design/FlowNodeSettingView.js}"></script>
    <script type="text/javascript"
            data-th-src="@{/static/scripts/design/UELSettingView.js}"></script>
    <script type="text/javascript"
            data-th-src="@{/static/lang/lang.js}"></script>
    <script type="text/javascript">
        var flowView;
        var id = EUI.util.getUrlParam("id");
        EUI.onReady(function () {
            flowView = new EUI.WorkFlowView({
                id: id,
                renderTo: "content"
            });
        });
    </script>
</head>
<body style="background: white;">
<div id="content"></div>
</body>
</html>

