
.condetail_operate{width:60px;height:15px;line-height:15px;margin:0 auto}
.condetail_update {
	width: 15px;
	height: 15px;
	float: left;
	cursor: pointer;
	background: url("../img/operate_bg.png") no-repeat;
	background-position: 0 -144px;
}

.condetail_delete {
	width: 15px;
	height: 15px;
	float: right;
	cursor: pointer;
	background: url("../img/operate_bg.png") no-repeat;
	background-position: -32px -144px;
}
.condetail_update:hover{background-position:0 -160px}
.condetail_delete:hover{background-position:-32px -160px}

.btn_operate{width:60px;height:16px;line-height:16px;margin:0 auto}
.agreeBtn {
	width: 16px;
	height: 16px;
	float: left;
	cursor: pointer;
	background: url("../img/operate_bg.png") no-repeat;
	background-position: 0px 0px;
}
.nagreeBtn {
	width: 16px;
	height: 16px;
	float: right;
	cursor: pointer;
	background: url("../img/operate_bg.png") no-repeat;
	background-position: -16px 0px;
}